<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="body_box">
			<div class="top_box">
				<img src="../../static/app_png/mine.png" usemap='#top_box1'/>
				<map name="top_box1">
					<area shape="rect" coords="299,224,411,279" href ="http://www.baidu.com" />
					<area shape="rect" coords="426,233,536,285" href ="/#/cart"  />
				</map>
			</div>
			<div class="bottom_box">
				<img src="../../static/app_png/tututu.png" usemap='#bottom_box'/>
				
			</div>
		</div>
	</body>
	<style type="text/css" scoped>
		.body_box{
		background: #F4F4F4;width: 1080px;
	}
	.top_box{
		width: 1080px;height: 450px;
	}
	.top_box img{
		width: 1080px;height: 450px;
	}
	.bottom_box{
		width: 1080px;height: 1181px;
	}
	.bottom_box img{
		width: 1080px;height: 1181px;
	}
	map{
		width: 1080px;height: 450px;
	}
	</style>
</html>
